
<h1>Joe's Wikipedia Site!!!</h1>
<% @articles.each do |a| %>
<h2><%= link_to a.title, article_path(a) %> (<%= link_to "Delete", article_path(a),
method: :delete,
data: { confirm: "are you sure" } %>)</h2>



<% end %>
<%= link_to "New Record", new_article_path %>
<%= link_to "Home", articles_path %>
